package handlers

import (
	"github.com/gin-gonic/gin"
	"github.com/nikel-api/nikel/nikel-core/config"
	"github.com/nikel-api/nikel/nikel-core/database"
	"github.com/nikel-api/nikel/nikel-core/query"
	"github.com/nikel-api/nikel/nikel-core/response"
	"math"
)

// Get{{GenericType}} queries via the {{genericType}} endpoint
func Get{{GenericType}}(c *gin.Context) {
	offset := query.ParseInt(c.Query("offset"), 0, math.MaxInt32, 0)
	limit := query.ParseInt(c.Query("limit"), 1, config.TopLimit, config.DefaultLimit)

	data := query.AutoQuery(
		database.DB.{{GenericType}}Data,
		c.Request.URL.Query(),
		limit,
		offset,
	)

	res, _ := json.Marshal(data)
	var {{genericType}} []database.{{GenericTypeSingle}}
	json.Unmarshal(res, &{{genericType}})
	if len({{genericType}}) == 0 {
		response.SendEmptySuccess(c)
	} else {
		response.SendSuccess(c, {{genericType}})
	}
}
